# Development profile - security disabled, verbose logging
spring:
  h2:
    console:
      settings:
        web-allow-others: true

  jpa:
    show-sql: true

security:
  auth:
    enabled: false

logging:
  level:
    com.algoaccel: DEBUG
    org.springframework.security: DEBUG
    org.hibernate.SQL: DEBUG
    org.hibernate.type.descriptor.sql.BasicBinder: TRACE
